__pycache__
.ipynb_checkpoints
*.pyc
problema1/data/data_batch_1
problema1/data/data_batch_2
problema1/data/data_batch_3
problema1/data/data_batch_4
problema1/data/data_batch_5
problema1/data/test_batch
problema1/Problema1-Copy1.ipynb
problema1/model/model-1g
problema1/model/model-1e3
problema1/model/model-1e2
problema1/model/model-1f
